/* ==UserStyle==
@name         Kemono light mode
@namespace    userstyles.world
@description  tweaks for kemono
@author       wagyourtail
@homepageURL  https://github.com/wagyourtail/Userscripts
@supportURL   https://github.com/wagyourtail/Userscripts/issues
@updateURL    https://github.com/wagyourtail/Userscripts/raw/refs/heads/main/kemono.user.styl
@preprocessor stylus
@version      1.4.2

@var checkbox lightMode 'Use light mode' 0
==/UserStyle== */

/*
This userstyle uses Stylus-lang preprocessor.
Complete preprocessor documentation at: https://stylus-lang.com
Writing UserCSS: https://github.com/openstyles/stylus/wiki/Writing-UserCSS
*/

@-moz-document regexp("https?://(?:kemono\\..*|coomer\\..*)") {
    if (lightMode) {
        html {
          filter: invert(100%);
        }
        img, video {
          filter: invert(100%); /* Inverts the images back to normal (double inversion) */
        }
    }

}
